.first__section__body
{
    background-color: #45aaf2;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 3%;
    text-align: center;
}
.footer__title
{
    font-size: 2rem;
    font-family: "jokerman";
    color: honeydew;
    border: solid;
    border-radius: 80%;
    box-shadow: 0 10px 15px 0 #3867d6;
}
.content__1
{
    font-family: 'Calibri', Times, serif;
}

.second__section__body
{
    text-align: center;
    background-color: #3867d6;
    padding: 2%;
}
.last__paragraph
{
    font-size: larger;
}
b{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a:hover
{
    text-decoration: none;
    color: white;
}
.footer__content_1
{
    padding: 5%;
    border-right: solid gray;
}
.footer__content_2
{
    padding: 5% 0 5% 5%;
}